{% extends "homepage/base.html" %}
{% block content %}

<h1 class="anton">Aplikacja Juwenalia</h1>

<div class="span4">
    <img src="media/Juwenalia-2019.jpg" alt="Juwenalia">
</div>

    <div class="box" style="text-align:justify">
        Przedmiotem projektu jest stworzenie wielofunkcyjnej aplikacji mobilnej "Juwenalia".
        Glownym celem projektu jest dostarczenie uzytkownikowi aplikacji, ktora pozwoli mu na poszerzenie wiedzy
        na temat wydarzenia oraz na lepsze zorganizowanie czasu, podczas brania w nim udzialu. Grupa docelowa projektu
        sa uczestnicy imprezy, jaka sa Juwenalia, organizowanej przez Politechnike Rzeszowska im. Ignacego Lukasiewicza
        i odbywajacej sie na obszarze jej miasteczka. Zawartosc  aplikacji dotyczyc bedzie m.in. informacji dotyczacej
        koncertow, harmonogramu wystapien gwiazd imprezy - z dokladnym opisaniem miejsca w ktorym beda wystepowac oraz
        informacji o Tygodniu Tematycznym, wydarzeniach z nim zwiazanych i mozliwoscia zapisania sie na nie. Dodatkowo
        istnieje mozliwosc otrzymywania przez uzytkownika aplikacji informacji od Biura Rzeczy zagubionych, odnosnie
        rzeczy jakie zostaly znalezione podczas imprezy. Istnieje rowniez funkcja, ktora pozwoli uzytkownikowi na
        umieszczenie informacji, jezeli sam znajdzie jakas rzecz. Aplikacja bedzie darmowa dla wszystkich uzytkownikow,
        bedzie istniala mozliwosc logowania sie przez konto Google lub za pomoca Facebook'a.
    </div>
    {% endblock content %}
